.wheel {
  background-color: blue;
}
.start-animation {
  animation: start-rotate 1s linear infinite;
}
@keyframes start-rotate {
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease-in;
  }
}

.stop-rotate {
  animation-play-state: paused;
}
